@import "../variables/colors";
$font-path: '../../';
@import "../mixins/text-style";
@import "../mixins//breakpoints";

.error-404{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 232px;

	@include xl{
		padding: 224px 24px 50px 24px;
	}

	h2{
		color: $primary-blue-500;
		font-size: 200px;
		font-family: Chillax-Semibold;

		@include xl{
			font-size: 140px;
		}
	}

	p{
		margin-top: 40px;
		@include montserrat-paragraph-xl-m;
		color: $grey;
		width: 500px;
		text-align: center;

		@include xl{
			width: 100%;
			padding: 0 24px;
		}
	}
}