$primary-blue-700: #24304F;
$primary-blue-500: #5F89F4;
$primary-blue-300: #B7CBFF;
$primary-blue-100: #F2F7FF;
$secondary-green-700: #2B4A45;
$secondary-green-500: #4BBA84;
$secondary-green-300: #ABD3BD;
$secondary-green-100: #EDF8F2;
$secondary-orange-700: #542513;
$secondary-orange-500: #FE6930;
$secondary-orange-300: #F5B297;
$secondary-orange-100: #FFF2EC;
$dark-900: #1A1A1A;
$dark-700: #333333;
$dark-500: #575757;
$dark-300: #C0C0C0;
$dark-100: #EDEDED;
$light-100: #ffffff;
$light-80: rgba(255, 255, 255, 0.8);
$light-60: rgba(255, 255, 255, 0.6);
$light-40: rgba(255, 255, 255, 0.6);
$light-20: rgba(255, 255, 255, 0.2);
$red: #EB5757;
$grey: #4E4E4E;
$gray-200: #E5E5E5;

