@import "../variables/colors";
$font-path: '../../';
@import "../mixins/text-style";
@import "../mixins//breakpoints";

.article {
	display: flex;
	justify-content: center;
	width: 100%;
	.article-container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-top: 160px;
		max-width: 1034px;
		@include xl {
			padding-top: 112px;
		}
		.heading { 
			.content-container {
				margin: 0px 106px;
				@include xl {
					margin: 0px 16px;
				}
				.header {
					display: flex;
					align-items: center;
					gap: 16px;
					margin-bottom: 24px;
					.tag-article {
						@include montserrat-label-m-s;
						display: flex;
						padding: 10px 16px;
						justify-content: center;
						align-items: center;
						background-color: $primary-blue-100;
						border-radius: 8px;
						color: $primary-blue-500;
					}
					.time {
						@include montserrat-label-m-s;
						color: $dark-700;
						font-weight: 500;
						font-size: 12px;
					}
				}
				h1 {
					@include chillax-display-l;
					color: $primary-blue-700;
					margin-bottom: 16px;
					@include xl {
						font-size: 40px;
						line-height: 48px;
					}
				}
				> p {
					@include montserrat-paragraph-xl-m;
					color: $dark-700;
				}
			}
			img {
				width: 100%;
				aspect-ratio: 2.01953125;
				margin: 24px 0px;
				object-fit: cover;
				border-radius: 12px;
				@include xl {
					border-radius: 0px;
					aspect-ratio: 1.875;
				}
			}
		}
	}
}