@import "../variables/colors";
@import "../mixins/text-style";
@import "../mixins//breakpoints";

main.offers{

	padding: 72px 96px 104px 96px;
	box-sizing: border-box;

	@include xl {
		padding: 48px 24px 0px 24px;
		width: 100%;
	}

	@include xl-paysage {
		padding: 80px 48px 0px 48px;
		width: 100%;
	}

	.offers__content{

		width: 1245px;
		margin: 0 auto;

		@include xl {
			width: 100%;
		}

		@include xl-paysage {
			width: 100%;
		}

		h2{
			color: $primary-blue-700;
			@include chillax-heading-xl;
			margin-bottom: 24px;
	
			li::marker {
				color: $primary-blue-500;
			}

			@include xl {
				@include chillax-heading-m
			}
		}

		h3{
			color: $primary-blue-500;
			@include montserrat-paragraph-l-m;
			// margin-top: 20px;
			margin-bottom: 12px;

			@include xl {
				font-weight: 500;
			}
		}

		p{
			@include montserrat-paragraph-l-m;
			margin-bottom: 12px;
			color: #575757;

			@include xl {
				@include montserrat-paragraph-m-m;
			}
		}

	}
	
	.offers__content-form{
		display: flex;
		flex-direction: column;
		align-items: center;

		h2{
			text-align: center;
			@include chillax-display-m;
			color: $primary-blue-700;
			margin-bottom: 56px;
			margin-top: 120px;
		}
	
		form{
			display: flex;
			justify-content: space-between;
			width: 822px;
			flex-wrap: wrap;

			.group-input{

				input{
					width: 395px;
					height: 56px;
					border-radius: 4px;
					margin-bottom: 24px;
				}
			}
		}
	}
}
