@import "../variables/colors";
$font-path: '../../';
@import "../mixins/text-style";
@import "../mixins//breakpoints";

main.resources {
	width: 100vw;
	padding-top: 88px;
	background-color: $light-100;
	section {
		padding: 112px 96px;
		@include xl {
			padding: 40px 16px;
		}
	}
}